/* Fuentes */
@font-face {
    font-family: FreshFruit;
    src: url(./Font/FRESH\ FRUIT\ PERSONAL\ USE-SVG.otf)format('truetype');
}
@font-face {
    font-family: KGRed;
    src: url(./Font/KGRedHands.ttf)format('truetype');
}
@font-face {
    font-family: Nunito;
    src: url(./Font/Nunito-VariableFont_wght.ttf)format('truetype');
}
@font-face {
    font-family: Titulo;
    src: url(./Font/klima-bold.otf)format('truetype');
}

/* Body*/
body{
    background-color: #fff;
    overflow-x: hidden; /*F4FCF5*/
}

/* Titulo */
.Titulo{
    position: relative;
    text-align: left;
}
.Titulo img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.Titulo .TTexto{
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translateY(-50%);
    width: 100%; 
    margin: 0; 
    padding: 10px; 
    text-align: center; 
    color: #fff; 

    font-family: Titulo;
    font-size: 5vw;;
}
/* Menu */
.Menu{
    font-family: Nunito;
}
/* Barra de Busqueda*/
.Search input{
    font-family: Nunito;
    font-size: 20px;
    width: 100%;
    height: 100%;
    color: #A6B8A9;
    border: none;
    outline: none;
    background: transparent;
}
.Search i{
    font-size: 22px;
    color: #A6B8A9;
    cursor: pointer;
}
.Search{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 500px;
    height: 50px;
    background: #eeeeee;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.6);
    transition: .5s ease-in-out;
}

/* Botones de Menu */

.contenedorBtnSF{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorBtnSF figure{
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgb(0, 0, 0, 0.50);
    cursor: pointer;
    position: relative;
}
.contenedorBtnSF figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.contenedorBtnSF figure .capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(205, 228, 208, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedorBtnSF figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.contenedorBtnSF figure:hover > img{
    transform: scale(1.3);
}
.contenedorBtnSF figure:hover > .capa h3{
    margin-top: 150px;
    margin-bottom: 15px;
}
.contenedorBtnSF figure .capa h3{
    color: #000;
    font-weight: 400;
    font-family: Nunito;
    font-size: 50px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

/* Imagenes plantas */
.Imgplanta{
    width: 250px;
    height: 250px;
    min-height: 250px;
    min-width: 250px;
}


/*Subtitulos*/
.SubTPlantas{
    text-align: center;
}